<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.jdickan.homilist-themes</string>
   <key>ProgramArguments</key>
    <array>
      <string>/Users/joe/Projects/homilist-cli/tools/themes.py</string>
    </array>
   <key>WatchPaths</key>
    <array>
      <string>/Users/joe/Parish/Mirror/Homilies/Homily Summaries</string>
    </array>
   <key>RunAtLoad</key>
   <true/>
   <key>StandardOutPath</key>
   <string>/tmp/homilist-themes.out</string>
   <key>StandardErrorPath</key>
   <string>/tmp/homilist-themes.err</string>
</dict>
</plist>
